html, body {
  height: 100%; /* Ensure the body takes up full height */
  margin: 0; /* Remove default margin */
}

body {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  min-height: 100vh; /* Set minimum height to viewport height */
}

main {
  flex: 1; /* Grow and push footer to the bottom */
}

footer {
  
  position: absolute;
  top: 100%;
  left: 43%;
  padding: 10px; /* Optional padding for better spacing */
  margin-top: auto; /* Pushes the footer to the bottom */
}
